<!DOCTYPE html><html><head><meta charset=utf-8><title>user-create</title><meta http-equiv=Content-Type content="text/html; charset=utf-8"><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name=apple-mobile-web-app-capable content=yes><link rel="shortcut icon" type=image/png href=/static/favicon.ico><style type=text/css>#load-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -0.5em;
    color: #616161;
    font-size: 12px;
    display: none;
  }

  #app:empty~#load-holder {
    display: block;
  }</style><link href=/static/css/app.81f5c0cfd0e163eadb818b1454317d3e.css rel=stylesheet></head><body lang=_pt><div id=app></div><div id=load-holder>加载中...</div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.1f190b06121dbcd5396d.js></script><script type=text/javascript src=/static/js/app.3d02e28933e1fba2f78c.js></script></body></html>