<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<form action="/api/upload" enctype="multipart/form-data" method="post">
		<a>
		<span>上传文件</span>
		<input type="file" id="file" name="file" multiple="multiple">
		</a>
		<input type="submit" value="提交"/>
	</form>
</body>
</html>

